div.background {
    background-image: url("../img/Stockholm.jpeg");
}

.jumbotron {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: medium;
    background: rgba(140, 170, 210, 0.5);
    margin: 15em;
    font-weight: bold;
}

#main {
    line-height: 2.5;
}

#header {
    padding-bottom: 4em;
}

#list {
    padding-bottom: 1em;
}

h4 {
    padding-bottom: 2em;
}
